.pimg1 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("chinese\ cuisine.jpeg");
    min-height: 100%;

}


.section {
    padding: 50px 80px;
    text-align: center;
}

.section-light {
    background-color: #fff;
    color: #463e3e;
}

.section-dark {
    background-color: #333;
    color: #b6aeae;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;

}

.ptext .border {
    background-color: #030303;
    color: #f2f0f0;
    padding: 20px 25px;

}

.ptext .border .transparent {
    background-color: transparent;

}